*{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}


.container{
    display: flex;
    width:80%;
    margin: auto;
}

.nweetBar{
    flex:2.3;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

