
.nweet-container{
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.top-info{
    padding:8px;
    display: flex;
    align-items: center;
}

.userPic{
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
}

.userId{
    /* display: block;
    flex:1; */
    font-size: small;
    font-weight: 700;
}

.nweet-text{
    max-height: 200px;
    font-size: 22px;
    font-weight: 300;
    padding:20px 70px;
    /* box-sizing: border-box; */
}

.createTime{
    padding-left: 15px;
}

.interactive-bar{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding:8px;
}




